<launch>
    <include file="$(find ma4825_robotic_arm)/launch/camera.launch"/>
    <node name="voice2text" pkg="ma4825_robotic_arm" type="voice2text.py" output="screen" launch-prefix="xterm -e"/>
    <node name="controller" pkg="ma4825_robotic_arm" type="Controller.py" output="screen" launch-prefix="xterm -e"/>
    <node name="movement"   pkg="ma4825_robotic_arm" type="Movement.py"  output="screen" launch-prefix="xterm -e"/>
</launch>